name: CI/CD

on: push

jobs:
  ASCN:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Download 
      run: python3 ASCN_Download.py nuccore test.txt

  PEP8:
    runs-on: ubuntu-latest
    container:
      image: python:3.9
    steps:
    - uses: actions/checkout@v2
    - name: Install flake8
      run: pip install flake8
    - name: Run flake8
      run: flake8 .
